{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="w3-container w3-2021-french-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Thais Lino Psicologia</h1>
    <p class="w3-xlarge">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit."
    </p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Marcar consulta</button>
</header>

<div class="w3-container w3-padding">

    <div class="w3-row w3-container">
        <div class="w3-light-gray w3-container w3-twothird">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="w3-container w3-third w3-center">
            <i class='fas fa-brain w3-padding-64' style='font-size: 100px'></i>
        </div>

        <div class="w3-row">
            <div class="w3-container w3-third w3-center">
                <i class='fas fa-diagnoses w3-padding-64' style='font-size: 100px'></i>
            </div>
            <div class="w3-light-gray w3-container w3-twothird">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>

    <div class="w3-row w3-container">
        <div class="w3-light-gray w3-container w3-twothird">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="w3-container w3-third w3-center">
            <i class='fas fa-user-check w3-padding-64' style='font-size: 100px'></i>
        </div>

        <div class="w3-row">
            <div class="w3-container w3-third w3-center">
                <i class='fas fa-video w3-padding-64' style='font-size: 100px'></i>

            </div>
            <div class="w3-light-gray w3-container w3-twothird">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}